# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.yml
*.yaml

# Data
data/*.csv
data/*.zip
data/*.h5
data/raw_data/

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log
